.u-section-1 .u-sheet-1 {
  min-height: 519px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 254px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  margin: 30px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 346px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 110px;
  height: 110px;
  margin: 30px auto 0 45px;
}

.u-section-1 .u-image-2 {
  width: 110px;
  height: 110px;
  margin: -110px 0 0 auto;
}

.u-section-1 .u-image-3 {
  width: 110px;
  height: 110px;
  margin: 46px auto 0 45px;
}

.u-section-1 .u-image-4 {
  width: 110px;
  height: 110px;
  margin: -110px 0 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 45px 0 46px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -234px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 209px;
  }

  .u-section-1 .u-btn-1 {
    font-weight: 400;
    text-transform: none;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-1 .u-image-1 {
    width: 80px;
    height: 80px;
    margin-left: 47px;
  }

  .u-section-1 .u-image-2 {
    width: 80px;
    height: 80px;
    margin-top: -80px;
  }

  .u-section-1 .u-image-3 {
    width: 80px;
    height: 80px;
    margin-top: 28px;
    margin-left: 47px;
  }

  .u-section-1 .u-image-4 {
    width: 80px;
    height: 80px;
    margin-top: -80px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -32px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 276px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 46px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-bottom: -484px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 150px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-left: 176px;
  }

  .u-section-1 .u-image-2 {
    margin-right: auto;
    margin-left: 285px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 29px;
    margin-left: 176px;
  }

  .u-section-1 .u-image-4 {
    margin-right: auto;
    margin-left: 285px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -32px;
    margin-bottom: -12px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 80px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 180px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 46px;
    margin-left: 80px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 180px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 546px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 3px;
}

.u-section-2 .u-image-1 {
  min-height: 506px;
  background-repeat: no-repeat;
  background-image: url("images/2148549052.jpg");
  --radius: 50px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 127px 0 0;
}

.u-section-2 .u-image-2 {
  width: 81px;
  height: 81px;
  margin: 30px 419px 0 0;
}

.u-section-2 .u-image-3 {
  width: 81px;
  height: 81px;
  margin: -81px auto 0 0;
}

.u-section-2 .u-image-4 {
  width: 81px;
  height: 81px;
  margin: -81px auto 0 100px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 117px auto 0 0;
}

.u-section-2 .u-image-5 {
  min-height: 253px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/2150573956.jpg");
  background-size: cover;
  --radius: 50px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 264px;
  --radius: 50px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 264px;
  --radius: 50px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 28px 30px 29px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 0 1px;
}

.u-section-2 .u-text-7 {
  margin: 19px 1px 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-2 .u-image-1 {
    background-size: cover;
    min-height: 417px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 27px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 319px;
  }

  .u-section-2 .u-image-5 {
    min-height: 209px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 218px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 218px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1241px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -167px;
  }

  .u-section-2 .u-image-1 {
    min-height: 639px;
  }

  .u-section-2 .u-image-5 {
    min-height: 320px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1172px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -627px;
  }

  .u-section-2 .u-image-1 {
    min-height: 479px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-right: auto;
    margin-left: 120px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-2 .u-image-5 {
    min-height: 240px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
  }

  .u-section-2 .u-text-8 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1162px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 302px;
  }

  .u-section-2 .u-image-2 {
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 20px;
    margin-left: 60px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 179px;
  }

  .u-section-2 .u-image-5 {
    min-height: 151px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1265px;
}

.u-section-3 .u-text-1 {
  margin: 39px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 39px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 445px;
  --radius: 50px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  width: 281px;
  margin: 40px auto 0;
}

.u-section-3 .u-image-1 {
  height: 266px;
  margin-top: 42px;
  margin-bottom: 0;
  --radius: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 445px;
  --radius: 50px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  width: 281px;
  margin: 41px auto 0;
}

.u-section-3 .u-image-2 {
  height: 266px;
  margin-top: 41px;
  margin-bottom: 0;
  --radius: 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 445px;
  --radius: 50px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  width: 281px;
  margin: 41px auto 0;
}

.u-section-3 .u-image-3 {
  height: 266px;
  margin-top: 41px;
  margin-bottom: 0;
  --radius: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 583px;
  --radius: 50px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  width: 281px;
  margin: 41px auto 0;
}

.u-section-3 .u-image-4 {
  height: 266px;
  margin-top: 41px;
  margin-bottom: 0;
  --radius: 30px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 598px;
  --radius: 50px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  width: 281px;
  margin: 41px auto 0;
}

.u-section-3 .u-image-5 {
  height: 266px;
  margin-top: 41px;
  margin-bottom: 0;
  --radius: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 583px;
  --radius: 50px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 19px;
}

.u-section-3 .u-text-7 {
  font-size: 3rem;
  margin: 0 6px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  margin: 283px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1054px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 15px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 431px;
  }

  .u-section-3 .u-icon-1 {
    padding: 13px;
  }

  .u-section-3 .u-image-1 {
    height: 219px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 431px;
  }

  .u-section-3 .u-icon-2 {
    padding: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 219px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 431px;
  }

  .u-section-3 .u-image-3 {
    height: 219px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 442px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 30px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-4 {
    height: 219px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 442px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 30px;
    padding: 3px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-image-5 {
    height: 219px;
    margin-top: 64px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 442px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 278px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    width: 227px;
  }

  .u-section-3 .u-image-1 {
    height: 168px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 227px;
  }

  .u-section-3 .u-image-2 {
    height: 168px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-4 {
    width: 227px;
  }

  .u-section-3 .u-image-3 {
    height: 168px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-5 {
    width: 227px;
  }

  .u-section-3 .u-image-4 {
    height: 168px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-5 {
    height: 168px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 238px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2225px;
  }

  .u-section-3 .u-image-1 {
    height: 378px;
  }

  .u-section-3 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    height: 378px;
  }

  .u-section-3 .u-image-3 {
    height: 378px;
  }

  .u-section-3 .u-image-4 {
    height: 378px;
  }

  .u-section-3 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-5 {
    height: 378px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-7 {
    margin-left: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1496px;
  }

  .u-section-3 .u-image-1 {
    height: 238px;
  }

  .u-section-3 .u-image-2 {
    height: 238px;
  }

  .u-section-3 .u-image-3 {
    height: 238px;
  }

  .u-section-3 .u-image-4 {
    height: 238px;
  }

  .u-section-3 .u-image-5 {
    height: 238px;
  }
}