.u-section-1 .u-sheet-1 {
  min-height: 82px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 21px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 752px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 30px auto 60px 0;
}

.u-section-2 .u-image-1 {
  min-height: 315px;
  background-image: url("images/13f3f7fe6210bc5d446024551043c049c65de2091860910ade374d6ec344492970e98422a4b26f6391dba4bcd74e19b33aada030aeafe06c60dc0a_1280.jpg");
  background-position: 50% 50%;
  --radius: 50px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 3px;
  border-style: solid;
  background-image: none;
  text-transform: none;
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-2 .u-text-3 {
  margin: 28px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  margin: 30px auto 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 315px;
  background-image: url("images/5d0040855a14d792efb1e2356aac72e554158515aeb4b60b283ec86cb2e4a83a20e2e14c0c3a355c048f5afa164d7bceffb7cbc3af1a5e6c49e19e_1280.jpg");
  background-position: 50% 50%;
  --radius: 50px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    padding: 16px 52px 16px 51px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    font-size: 0.875rem;
    padding: 11px 27px 13px 25px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 209px;
}

.u-section-3 .u-list-1 {
  margin-bottom: 40px;
  margin-top: 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 169px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-1 {
  --radius: 28px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-text-1 {
  margin: 24px auto 0;
}

.u-section-3 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-2 {
  --radius: 28px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-3 {
  margin: 24px auto 0;
}

.u-section-3 .u-text-4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-3 {
  --radius: 28px;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-5 {
  margin: 24px auto 0;
}

.u-section-3 .u-text-6 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 139px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 714px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  margin: 50px 0 60px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 474px;
  grid-gap: 10px;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(to bottom, rgba(111, 149, 184, 0.8), rgba(184, 158, 159, 0.8)), url("https://pixabay.com/get/gd4143aef79d4750d34df36fb8410cba052e218672cb4295c3e53a9fa222dc0d381464b32590aa2533bbbf607f0fcc7e1fa8d7e44aa15284121214088f566361a_1280.jpg");
  background-position: 50% 50%, 50% 50%;
  --radius: 24px;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 0 auto 0 10px;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0 10px;
}

.u-section-4 .u-image-2 {
  background-image: linear-gradient(to bottom, rgba(111, 149, 184, 0.8), rgba(184, 158, 159, 0.8)), url('images/photo-1554774853-aae0a22c8aa4.jpeg');
  --radius: 24px;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 0 auto 0 10px;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0 10px;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(to bottom, rgba(111, 149, 184, 0.8), rgba(184, 158, 159, 0.8)), url('images/614919bbed2d62e9b7ebb453905151f0c10a8cca1cc409982ea3c08483064e66128b37c0e7a1754635aa22be1bc7151e1a116b7dc644d9feba8da9_1280.jpg');
  --radius: 24px;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 0 auto 0 10px;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 389px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 911px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}